.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 7.29% 0 0 0;
}

.content_wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  width: 42.22%;
  font-size: 44px;
  margin: 0 auto;
  padding: 0 0 4% 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.subtitle {
  width: 100%;
  font-weight: bold;
  padding: 0 0 0.56% 0;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: #898989;
}

.price_title {
  margin: 0;
  padding: 0 0 3.33% 0;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  color: #dcb6ff;
}

.title_color {
  color: #44d5a3;
}

.price_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, auto);
  padding: 0 0 6% 0;
}

@media screen and (max-width: 960px) {
  .title {
    width: 42.22%;
    font-size: 40px;
    padding: 0 0 2% 0;
    margin: 0;
  }

  .subtitle {
    padding: 0 0 3.95% 0;
  }
}

@media screen and (max-width: 768px) {
  .content_wrapper {
    max-width: 720px;
  }

  .title {
    width: 42.22%;
    font-size: 33px;
    padding: 0 0 2% 0;
    margin: 0;
  }

  .subtitle {
    padding: 0 0 4.6% 0;
  }

  .price_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    padding: 0 0 4.8% 0;
  }
}

@media screen and (max-width: 375px) {
  .content_wrapper {
    max-width: 341px;
  }

  .title {
    width: 68%;
    font-size: 24px;
    padding: 0 0 2% 0;
    margin: 0;
  }

  .subtitle {
    font-size: 16px;
    padding: 0 0 8.8% 0;
  }

  .price_title {
    padding: 0 0 5.5% 0;
    font-size: 22px;
  }

  .price_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 341px;
    grid-gap: 10px;
    grid-auto-rows: minmax(340px, auto);
    padding: 0 0 6% 0;
  }
}
