.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background: #221244;
  outline: 3px red solid;
  overflow: hidden;
}

.content_wrapper {
  width: 32.7%;
  padding: 7.25% 0 7.25% 23%;
  outline: 3px red solid;
}

.title {
  width: 100%;
  margin: 0;
  padding: 0 0 1.2% 0;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  outline: 3px red solid;
}

.subtitle {
  width: 100%;
  margin: 0;
  padding: 0 0 6.8% 0;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  outline: 3px red solid;
}

.form_wrapper {
  /* РАСПОЛОЖИТЬ Button СПРАВА */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  position: relative;
}

.form {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 25px 29px;
  padding: 0;
  margin: 0 0 46px 0;
}

.input {
  height: 41px;
}

.input_name {
  grid-column-start: 1;
  grid-column-end: 3;
}

.error {
  display: flex;
  color: red;
  margin: 0;
  padding: 0;
  height: 10px;
  outline: 3px red solid;
}

.rectangle {
  position: absolute;
  background-image: url(../../images/rectangle.jpg);
  width: 337px;
  height: 216px;
  left: 62%;
  top: 29%;
  background: rgba(146, 73, 255, 0.54);
  z-index: 0;
}

.ellipse {
  position: absolute;
  background-image: url(../../images/ellipse.jpg);
  width: 194px;
  height: 194px;
  left: 82%;
  top: 15%;
  border-radius: 50%;
  mix-blend-mode: normal;
  opacity: 0.4;
  background: #44d5a3;
  z-index: 0;
}

.ellipse2 {
  position: absolute;
  background-image: url(../../images/ellipse2.jpg);
  width: 23.06px;
  height: 23.03px;
  left: 82%;
  top: 10%;
  background: #3e09b4;
  border-radius: 50%;
  z-index: 0;
}

.polygon {
  position: absolute;
  background-image: url(../../images/polygon.png);
  width: 74.67px;
  height: 76.44px;
  left: 84%;
  top: 75%;
  z-index: 0;
}

@media screen and (max-width: 960px) {
  .wrapper {
    max-width: 960px;
  }

  .content_wrapper {
    width: 65.5%;
    padding: 13.75% 0 21.25% 2.9%;
  }

  .rectangle {
    left: 72%;
    top: 35%;
  }

  .ellipse {
    left: 94%;
    top: 22%;
  }

  .ellipse2 {
    left: 90%;
    top: 20%;
  }

  .polygon {
    left: 58%;
    top: 83%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }

  .content_wrapper {
    width: 68.5%;
    padding: 13.8% 0 19.5% 2.75%;
  }

  .title {
    padding: 0 0 1.2% 0;
    font-size: 30px;
  }

  .subtitle {
    padding: 0 0 5.5% 0;
  }

  .rectangle {
    width: 250px;
    height: 182px;
    left: 68%;
    top: 20%;
  }

  .ellipse {
    display: none;
  }

  .ellipse2 {
    width: 19.53px;
    height: 19.51px;
    left: 93%;
    top: 13%;
  }

  .polygon {
    width: 75px;
    height: 76.5px;
    left: 51%;
    top: 80%;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    max-width: 375px;
  }

  .content_wrapper {
    width: 91%;
    padding: 15.5% 0 25% 4%;
  }

  .title {
    padding: 0 0 3.2% 0;
    font-size: 27px;
    line-height: 35px;
  }

  .subtitle {
    padding: 0 0 7.5% 0;
    font-size: 16px;
    line-height: 22px;
  }

  .form {
    display: flex;
    grid-gap: 19px;
    flex-direction: column;
    padding: 0 0 11% 0;
  }

  .rectangle {
    display: none;
  }

  .ellipse {
    display: none;
  }

  .ellipse2 {
    display: none;
  }

  .polygon {
    display: none;
  }
}
