.wrapper {
  max-width: 1090px;
  margin: 0 auto;
  padding: 7.29% 0 0 0;
  outline: 3px red solid;
}

.title {
  width: 52.5%;
  font-size: 44px;
  margin: 0 auto;
  padding: 0 0 4% 0;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  outline: 3px red solid;
}

.subtitle {
  margin: 0;
  padding: 1.5% 0 0.5% 0;
  text-transform: uppercase;
  color: #44d5a3;
}

.subtitle_music {
  margin: 0;
  padding: 0 0 0.5% 0;
  font-weight: 600;
  font-size: 18px;
  color: #898989;
}
